---
import Layout from "../../layouts/Layout.astro";
---
<Layout title="iam4pple">
    <div class="text-side">
        <p>Hello, my name is Nevin and I'm from the United States.</p>
    </div>
</Layout>