---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Members">
    <div class="text-side">
        <p>
            <a href="/members/4pple">4pple</a>
        </p>    
    </div>
</Layout>