---
import Layout from "../../layouts/Layout.astro";
---
<Layout title="Members">
    <div class="text-side">
        <p>
            <a href="/members/core/4pple">4pple</a>
            <a href="/members/core/Gmo">Gmo</a>
            <a href="/members/core/Kaleb">Kaleb</a>
            <a href="/members/core/Mars">Mars</a>
        </p>    
    </div>
</Layout>