---
import Layout from "../../layouts/Layout.astro";
---
<Layout title="Members">
    <div class="text-side">
        <p>
            <a href="/members/core/">The CORE Members</a>
        </p>    
    </div>
</Layout>