---
import { Image } from "astro:assets";
import gtdlogo from '../assets/gtdlogo.webp'
import Layout from "../layouts/Layout.astro";
---
<Layout title = "Home Page">
	<div class="text-side">
	  <p>
			Welcome to the official Goons Tower Defense website!
			<br>
			<br>
			
	  </p>
	</div>
	<div class="img-wrapper">
	  <Image 
	  	src={gtdlogo} 
		alt='The letters, "GTD", are shown on top of a red and purple gradient.' 	
		height={1080} 
		width={1080} 
		loading={"eager"}
	  />
	</div>
</Layout>