---
import Layout from "../layouts/Layout.astro";
---

<style>
    h2 {
        color: white;
        text-align: center;
    }

    h3 {
        color: white;
        text-align: center;
    }
</style>

<Layout title = "Join the Server!">
	<div>
        <h2>
            Java IP: play.gtdmc.org
        </h2>
        <h3>
            or
        </h3>
        <h2>
            Bedrock Instructions:
        </h2>
        <p style="text-align: center; padding: 0%">
            For Only Mobile and PC Bedrock, add the IP: bedrock.gtdmc.org Port: 19132 and Play!
            For All Bedrock, add the Xbox user, "GTDServer" and join their world.
        </p>
	</div>
</Layout>