---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import { getSession } from 'auth-astro/server';

const session = await getSession(Astro.request)

---
<Layout title="Login">
    {session ? (
  <p>
    {session.user?.image ? (
    <Image src={session.user?.image} alt ="User Profile Picture" width="100" height="100" loading={'eager'}/>
    ) : (<p>No image.</p>)}
  </p>
  <p>
    \Welcome {session.user?.name} ({session.user?.email})
  </p>
) : (
  <p>
    Not logged in
  </p>
)}
  <button id="login">Login</button>
  <button id="logout">Logout</button>

  <script>
    const { signIn, signOut } = await import("auth-astro/client")
    document.querySelector("#login").onclick = () => signIn()
    document.querySelector("#logout").onclick = () => signOut()
  </script>
</Layout>
