---
const { title } = Astro.props;
import ClientRouter from "astro/components/ClientRouter.astro";
---
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<title>GTD | {title}</title>

<!-- Primary Meta Tags -->
<meta name="title" content="Goons Tower Defense" />
<meta name="description" content="© 2025 Goons Tower Defense. All rights reserved." />
<meta name="geo.region" content="EN-US" />
    
<!-- Favicon -->
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="manifest" href="/site.webmanifest">
    
<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://gtdmc.org" />
<meta property="og:title" content="Goons Tower Defense" />
<meta property="og:description" content="© 2025 Goons Tower Defense. All rights reserved." />
<meta property="og:image" content="https://gtdmc.org/apple-touch-icon.png">
<meta property="og:locale" content="en_US" />
    
<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:domain" content="gtdmc.org" />
<meta name="twitter:url" content="https://gtdmc.org" />
<meta name="twitter:title" content="Goons Tower Defense" />
<meta name="twitter:description" content="© 2025 Goons Tower Defense. All rights reserved.">
<meta name="twitter:image" content="https://gtdmc.org/apple-touch-icon.png">
    
<!-- Additional meta tags -->
<meta name="theme-color" content="dark" />
<meta name="referrer" content="no-referrer" />
<meta name="generator" content={Astro.generator} />

<ClientRouter />