---
import Layout from "../../../layouts/Layout.astro"
---
<Layout title="CORE">
    <div class="text-side">
        <p>
            <a href="./4pple">4pple</a>
            <a href="./Gmo">Gmo</a>
            <a href="./Kaleb">Kaleb</a>
            <a href="./Mars">Mars</a>
        </p>
    </div>
</Layout>